{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'filme:new_filmes' %}">Novo</a>
    
    <table>
        <thead>
            <tr>
                <td>Filme</td>
                <td>Gênero</td>
                <td>Quantidade</td>
                <td>Preço</td>
            </tr>
        </thead>
        <tbody>
        {% for filme in filmes %}
        <tr>
            <td>{{ filme.filme }}</td>
            <td>{{ filme.genero }}</td>
            <td>{{ filme.quantidade }}</td>
            <td>{{ filme.preco }}</td>
            <td><a href="{% url 'filme:update_filmes' filme.id %}">Update</a></td>
            <td><a href="{% url 'filme:delete_filmes' filme.id %}">Delete</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{% url 'index' %}">Voltar</a>

{% endblock %}

